<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Tea sharing site!</p>
    <div class="navbar">
      <% if (currentUser) { %>
        <a href="/teas"><%= currentUser.username %></a>
      <% } else { %>
        <a href="/user/create">Sign up</a>
      <% } %>
      <a href="/teas/tealist">Teas</a>
      <a href="/teas/create">Add New Tea</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <% if (currentUser) { %>
      <h3>Hello <%= currentUser.username %></h3>
      <a href="/logout">Log out</a>
    <% } else { %>
      <h1>Log in to your account!</h1>
    <% } %>
    <div class="recommendedteas">
      <h2>Recommended Teas</h2>
      <% if(teas_recommended_list[0].recommended_teas[0]) { %>
        <ul>
          <% for(let i = 0; i < teas_recommended_list[0].recommended_teas.length; i ++) { %>
            <div class="teacard"> 
              <li> <a href='<%= teas_recommended_list[0].recommended_teas[i].tea_rec.url %>'> <%= teas_recommended_list[0].recommended_teas[i].tea_rec.tea_name %> </a> </li>
              <li>Type: <%= teas_recommended_list[0].recommended_teas[i].tea_rec.type %> </li> 
              <li>Recommended By: <a href="<%= teas_recommended_list[0].recommended_teas[i].recommended_by.url%>"> <%= teas_recommended_list[0].recommended_teas[i].recommended_by.username %> </a></li> 
              <li>Message: "<%= teas_recommended_list[0].recommended_teas[i].message %>"</li>
              <button type="button" class="deletebutton">Delete this recommendation</li>
            </div>
          <% } %>
        </ul>
    <% } else { %>
      <p>You have no recommendations currently.</p>
    <% } %>
    </div>
    <div class="friendactivitydiv">
      <h3>Teas recently added by friends: </h3>
      <ul class="activityfeed">
        <% for(let i = 0; i < recent_tea_list.length; i++) { %>
          <% if(recent_tea_list[i].type === "Herbal" || recent_tea_list[i].type === "Oolong" ) { %>
            <li class="activityentry"><a href="<%= recent_tea_list[i].created_by.url %>" ><%= recent_tea_list[i].created_by.username %></a> added an <%= recent_tea_list[i].type %> tea called <a href="<%= recent_tea_list[i].url %>"" ><%= recent_tea_list[i].tea_name %></a></li>
          <% } else { %>
            <li class="activityentry"><a href="<%= recent_tea_list[i].created_by.url %>" ><%= recent_tea_list[i].created_by.username %></a> added a <%= recent_tea_list[i].type %> tea called <a href="<%= recent_tea_list[i].url %>"" ><%= recent_tea_list[i].tea_name %></a></li>
          <% } %>
        <% } %>
      </ul>
    </div>
    <% if(saved_teas_list) { %>
    <div class="tealist">
      <h2>Saved Teas</h2>
      <% console.log(saved_teas_list) %>
        <ul>
            <% for(let i = 0; i < saved_teas_list[0].saved_teas.length; i ++) { %>
              <div class="teacard"> 
                <li> <a href='<%= saved_teas_list[0].saved_teas[i].url %>'> <%= saved_teas_list[0].saved_teas[i].tea_name %> </a> </a> 
                <li>Type: <%= saved_teas_list[0].saved_teas[i].type %> </li> 
                <li>Brand: <%= saved_teas_list[0].saved_teas[i].brand %>  </li> 
                <li>Rating(out of 10): <%= saved_teas_list[0].saved_teas[i].rating %> </li> 
                <li>Notes: <%= saved_teas_list[0].saved_teas[i].notes %> </li> 
              </div>
            <% } %>
        </ul>
    </div>
    <% } %>
    <% if(favorite_teas_list) { %>
      <div class="tealist">
        <h2>Favorite Teas</h2>
          <ul>
              <% for(let i = 0; i < favorite_teas_list[0].favorite_teas.length; i ++) { %>
                <div class="teacard"> 
                  <li> <a href='<%= favorite_teas_list[0].favorite_teas[i].url %>'> <%= favorite_teas_list[0].favorite_teas[i].tea_name %> </a> </a> 
                  <li>Type: <%= favorite_teas_list[0].favorite_teas[i].type %> </li> 
                  <li>Brand: <%= favorite_teas_list[0].favorite_teas[i].brand %>  </li> 
                  <li>Rating(out of 10): <%= favorite_teas_list[0].favorite_teas[i].rating %> </li> 
                  <li>Notes: <%= favorite_teas_list[0].favorite_teas[i].notes %> </li> 
                </div>
              <% } %>
          </ul>
      </div>
      <% } %>
      <div class="tealist">
        <h2>Your Teas</h2>
          <ul>
              <% for(let i = 0; i < user_tea_list.length; i ++) { %>
                <div class="teacard"> 
                  <li> <a href='<%= user_tea_list[i].url %>'> <%= user_tea_list[i].tea_name %> </a> </a> 
                  <li>Type: <%= user_tea_list[i].type %> </li> 
                  <li>Brand: <%= user_tea_list[i].brand %>  </li> 
                  <li>Rating(out of 10): <%= user_tea_list[i].rating %> </li> 
                  <li>Notes: <%= user_tea_list[i].notes %> </li> 
                </div>
              <% } %>
          </ul>
      </div>
      <div class="tealist">
        <h2>Top Teas:</h2>
          <ul>
              <% for(let i = 0; i < top_list.length; i ++) { %>
                <div class="teacard"> 
                  <li> <a href='<%= top_list[i].url %>'> <%= top_list[i].tea_name %> </a> </a> 
                  <li>Type: <%= top_list[i].type %> </li> 
                  <li>Brand: <%= top_list[i].brand %>  </li> 
                  <li>Rating(out of 10): <%= top_list[i].rating %> </li> 
                  <li>Notes: <%= top_list[i].notes %> </li> 
                </div>
              <% } %>
          </ul>
      </div>
  </body>
</html>
