<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/teas/tealist">Teas</a>
      <a href="/teas/create">Add New Tea</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <% if (currentUser) { %>
      <h3>Hello <%= currentUser.username %></h3>
      <a href="/logout">Log out</a>
    <% } else { %>
      <h1>Log in to your account!</h1>
    <% } %>
    <% if(currentUser && currentUser.username === tea.created_by.username) { %>
    <div class="teadeletediv">
        <p>Are you sure you want to delete <%= tea.tea_name %>?</p>
        <form method="POST" action="">
            <input type="hidden" name="teadeleteid" required="true" value= <%= tea._id %>>
            <button type="submit">Delete</button>
        </form>
    </div>
    <% } else { %>
      <p>Only the user that added the tea can delete it.</p>
    <% } %>
  </body>
</html>
