<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="navbar">
      <% if (currentUser) { %>
        <a href="/"><%= currentUser.username %></a>
      <% } else { %>
        <a href="/user/create">Sign up</a>
      <% } %>
      <a href="/teas/tealist">Teas</a>
      <a href="/teas/create">Add New Tea</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <% if (currentUser) { %>
      <h3>Hello <%= currentUser.username %></h3>
      <a href="/logout">Log out</a>
    <% } else { %>
      <h1>Log in to your account!</h1>
    <% } %>
    <div class="newtealist">
      <h2>Recently Added Teas</h2>
      <ul>
        <% for(let i = 0; i < new_tea_list.length; i++) { %>
            <div class="teacard"> 
              <li> <a href='<%= new_tea_list[i].url %>'> <%= new_tea_list[i].tea_name %> </a> 
              <li>Type: <%= new_tea_list[i].type %> </li> 
              <li>Brand: <%= new_tea_list[i].brand %> </li> 
              <li>Rating(out of 10): <%= new_tea_list[i].rating %> </li> 
              <li>Notes: <%= new_tea_list[i].notes %> </li> 
              <li>Added on: <%= new_tea_list[i].created_on %> </li>
            </div>
        <% } %>
      </ul>
    </div>
    <div class="greenteas">
      <h3>Green Teas</h3>
      <ul>
        <% for(let i = 0; i < green_tea_list.length; i ++) { %>
          <div class="teacard"> 
            <li> <a href='<%= green_tea_list[i].url %>'> <%= green_tea_list[i].tea_name %> </a> </a> 
            <li>Brand: <%= green_tea_list[i].brand %>  </li> 
            <li>Rating(out of 10): <%= green_tea_list[i].rating %> </li> 
          </div>
        <% } %>
      </ul>
    </div>
    <div class="blackteas">
      <h3>Black Teas</h3>
      <ul>
        <% for(let i = 0; i < black_tea_list.length; i ++) { %>
          <div class="teacard"> 
            <li> <a href='<%= black_tea_list[i].url %>'> <%= black_tea_list[i].tea_name %> </a> </a> 
            <li>Brand: <%= black_tea_list[i].brand %>  </li> 
            <li>Rating(out of 10): <%= black_tea_list[i].rating %> </li> 
          </div>
        <% } %>
      </ul>
    </div>
    <div class="oolongteas">
      <h3>Oolong Teas</h3>
      <ul>
        <% for(let i = 0; i < oolong_tea_list.length; i ++) { %>
          <div class="teacard"> 
            <li> <a href='<%= oolong_tea_list[i].url %>'> <%= oolong_tea_list[i].tea_name %> </a> </a> 
            <li>Brand: <%= oolong_tea_list[i].brand %>  </li> 
            <li>Rating(out of 10): <%= oolong_tea_list[i].rating %> </li>  
          </div>
        <% } %>
      </ul>
    </div>
    <div class="herbalteas">
      <h3>Herbal Teas</h3>
      <ul>
        <% for(let i = 0; i < herbal_tea_list.length; i ++) { %>
          <div class="teacard"> 
            <li> <a href='<%= herbal_tea_list[i].url %>'> <%= herbal_tea_list[i].tea_name %> </a> </a> 
            <li>Brand: <%= herbal_tea_list[i].brand %>  </li> 
            <li>Rating(out of 10): <%= herbal_tea_list[i].rating %> </li> 
          </div>
        <% } %>
      </ul>
    </div>
    <div class="whiteteas">
      <h3>White Teas</h3>
      <% for(let i = 0; i < white_tea_list.length; i ++) { %>
        <div class="teacard"> 
          <li> <a href='<%= white_tea_list[i].url %>'> <%= white_tea_list[i].tea_name %> </a> </a> 
          <li>Brand: <%= white_tea_list[i].brand %>  </li> 
          <li>Rating(out of 10): <%= white_tea_list[i].rating %> </li> 
        </div>
      <% } %>
    </div>
    <div class="tealist">
      <h2> All Teas</h2>
        <ul>
            <% for(let i = 0; i < tea_list.length; i ++) { %>
              <div class="teacard"> 
                <li> <a href='<%= tea_list[i].url %>'> <%= tea_list[i].tea_name %> </a> </a> 
                <li>Type: <%= tea_list[i].type %> </li> 
                <li>Brand: <%= tea_list[i].brand %>  </li> 
                <li>Rating(out of 10): <%= tea_list[i].rating %> </li> 
                <li>Notes: <%= tea_list[i].notes %> </li> 
              </div>
            <% } %>
        </ul>
    </div>
  </body>
</html>