<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body style="background-color: honeydew">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:turquoise">
      <div class="collapse navbar-collapse" id="navbarsupportedcontent">
        <ul class="navbar-nav">
      <% if (currentUser) { %>
          <li class="nav-item active"><a class="nav-link" href="/teas"><%= currentUser.username %></a></li>
      <% } else { %>
        <li class="nav-item"><a class="nav-link" href="/user/create">Sign up</a></li>
      <% } %>
      <li class="nav-item"><a class="nav-link" href="/teas/tealist">Teas</a></li>
      <li class="nav-item"><a class="nav-link" href="/teas/create">Add New Tea</a></li>
      <% if (currentUser) { %>
        <li class="nav-item"><a class="nav-link" href="<%= currentUser.url %>">Profile</a></li>
      <% } else { %>
        <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginmodal">Log in</a></li>
        <div class="modal fade" id="loginmodal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header text-centered">
                <h3>Log in to your account!</h3>
                <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#loginmodal"></button>
              </div>
              <div class="modal-body">
                <div>
                  <form method="POST" action="/userlogin" class="loginform" id="loginform">
                      <div class="row">
                        <div class="form-group col-lg-12 mb-3">
                          <div class="form-floating">
                            <input type="text" id="username" class="form-control" name="username" required="required"></input>
                            <label for="username" class="form-label">Username</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-lg-12 mb-3">
                          <div class="form-floating">
                            <input type="password" id="password" name="password" required="required" class="form-control"></input>
                            <label for="password" class="form-label">Password</label>
                          </div>
                        </div>
                      </div>
                    <button class="btn btn-info" type="submit">Log in</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <li class="nav-item"><a class="nav-link" href="/user/login">Log in</a></li>
      <% } %>
      <li class="nav-item"><a class="nav-link" href="/user/userlist">Friends</a></li>
        </ul>
      </div>
    </nav>
    <% if (currentUser) { %>
      <h3>Hello <%= currentUser.username %></h3>
      <a href="/logout">Log out</a>
    <% } else { %>
      <h1>Log in to your account!</h1>
    <% } %>
    <div class="container-fluid">
      <h2 class="text-center mb-3">Recently Added Teas</h2>
        <ul style="display:flex;justify-content:center;list-style: none;gap: 5px;">
          <% for(let i = 0; i < new_tea_list.length; i++) { %>
              <div class="card mr-2 border border-dark rounded" style="background-color:peachpuff;width: 18rem;">
                <% if (new_tea_list[i].img.data) { %>
                  <img class="card-img-top" src="data:image/<%= new_tea_list[i].img.contentType%>;base64,
                  <%= new_tea_list[i].img.data.toString('base64') %>" alt="tea-image">
                <% } else { %>
                  <img class="card-img-top" src="" alt="tea-image">
                <% } %>
                <div class="card-body">
                  <li><h5><a style="text-decoration:none;color:black;" href='<%= new_tea_list[i].url %>'> <%= new_tea_list[i].tea_name %> </a></h5></li> 
                  <li>Type: <%= new_tea_list[i].type %> </li> 
                  <li>Brand: <%= new_tea_list[i].brand %> </li> 
                  <li>Rating(out of 10): <%= new_tea_list[i].rating %> </li> 
                  <li>Notes: <%= new_tea_list[i].notes %> </li> 
                  <li>Added by: <a style="text-decoration: none;color: rgb(104, 13, 1);font-weight:bolder;" href="<%= new_tea_list[i].created_by.url %>"> <%= new_tea_list[i].created_by.username %> </a></li>
                </div>
              </div>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="greenteas">
      <h3>Green Teas</h3>
      <ul>
        <% for(let i = 0; i < green_tea_list.length; i ++) { %>
          <div class="teacard"> 
            <li> <a href='<%= green_tea_list[i].url %>'> <%= green_tea_list[i].tea_name %> </a> </a> 
            <li>Brand: <%= green_tea_list[i].brand %>  </li> 
            <li>Rating(out of 10): <%= green_tea_list[i].rating %> </li> 
          </div>
        <% } %>
      </ul>
    </div>
    <div class="blackteas">
      <h3>Black Teas</h3>
      <ul>
        <% for(let i = 0; i < black_tea_list.length; i ++) { %>
          <div class="teacard"> 
            <li> <a href='<%= black_tea_list[i].url %>'> <%= black_tea_list[i].tea_name %> </a> </a> 
            <li>Brand: <%= black_tea_list[i].brand %>  </li> 
            <li>Rating(out of 10): <%= black_tea_list[i].rating %> </li> 
          </div>
        <% } %>
      </ul>
    </div>
    <div class="oolongteas">
      <h3>Oolong Teas</h3>
      <ul>
        <% for(let i = 0; i < oolong_tea_list.length; i ++) { %>
          <div class="teacard"> 
            <li> <a href='<%= oolong_tea_list[i].url %>'> <%= oolong_tea_list[i].tea_name %> </a> </a> 
            <li>Brand: <%= oolong_tea_list[i].brand %>  </li> 
            <li>Rating(out of 10): <%= oolong_tea_list[i].rating %> </li>  
          </div>
        <% } %>
      </ul>
    </div>
    <div class="herbalteas">
      <h3>Herbal Teas</h3>
      <ul>
        <% for(let i = 0; i < herbal_tea_list.length; i ++) { %>
          <div class="teacard"> 
            <li> <a href='<%= herbal_tea_list[i].url %>'> <%= herbal_tea_list[i].tea_name %> </a> </a> 
            <li>Brand: <%= herbal_tea_list[i].brand %>  </li> 
            <li>Rating(out of 10): <%= herbal_tea_list[i].rating %> </li> 
          </div>
        <% } %>
      </ul>
    </div>
    <div class="whiteteas">
      <h3>White Teas</h3>
      <% for(let i = 0; i < white_tea_list.length; i ++) { %>
        <div class="teacard"> 
          <li> <a href='<%= white_tea_list[i].url %>'> <%= white_tea_list[i].tea_name %> </a> </a> 
          <li>Brand: <%= white_tea_list[i].brand %>  </li> 
          <li>Rating(out of 10): <%= white_tea_list[i].rating %> </li> 
        </div>
      <% } %>
    </div>
    <div class="tealist">
      <h2> All Teas</h2>
        <ul>
            <% for(let i = 0; i < tea_list.length; i ++) { %>
              <div class="teacard"> 
                <li> <a href='<%= tea_list[i].url %>'> <%= tea_list[i].tea_name %> </a> </a> 
                <li>Type: <%= tea_list[i].type %> </li> 
                <li>Brand: <%= tea_list[i].brand %>  </li> 
                <li>Rating(out of 10): <%= tea_list[i].rating %> </li> 
                <li>Notes: <%= tea_list[i].notes %> </li> 
              </div>
            <% } %>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>