<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/teas/tealist">Teas</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <% if (currentUser) { %>
      <h3>Hello <%= currentUser.username %></h3>
      <a href="/logout">Log out</a>
    <% } else { %>
      <h1>Log in to your account!</h1>
    <% } %>
    <div class="teainfodiv">
        <p>Tea name: <%= title %></p>
        Type: <%= tea.type %>
        <p><%= tea.brand %></p>
        <p><%= tea.rating %></p>
        <%= tea.notes %>
        <p> <%= tea.created_on %></p>
        <p>Added by: <a href="<%= user_url %>"> <%= added_by %> </a></p>
        <% if (tea.img) { %>
          <img src="data:image/<%= tea.img.contentType%>;base64,
          <%= tea.img.data.toString('base64') %>"
        <% } else {%>
          <p>There is no picture for this tea yet!</p>
        <% } %>
    </div>
  </body>
</html>