<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/teas/tealist">Teas</a>
      <a href="/teas/create">Add New Tea</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <% if (currentUser) { %>
      <h3>Hello <%= currentUser.username %></h3>
      <a href="/logout">Log out</a>
    <% } else { %>
      <h1>Log in to your account!</h1>
    <% } %>
    <div class="newtealist">
      <h2>Recently Added Teas</h2>
      <ul>
        <% for(let i = 0; i < new_tea_list.length; i++) { %>
            <div class="teacard"> 
              <li> <a href='<%= new_tea_list[i].url %>'> <%= new_tea_list[i].tea_name %> </a> 
              <li>Type: <%= new_tea_list[i].type %> </li> 
              <li>Brand: <%= new_tea_list[i].brand %> </li> 
              <li>Rating(out of 10): <%= new_tea_list[i].rating %> </li> 
              <li>Notes: <%= new_tea_list[i].notes %> </li> 
              <li>Added on: <%= new_tea_list[i].created_on %> </li>
            </div>
        <% } %>
    </ul>
</div>
    <div class="tealistdiv">
      <h2> All Teas</h2>
        <ul>
            <% for(let i = 0; i < tea_list.length; i ++) { %>
              <div class="teacard"> 
                <li> <a href='<%= tea_list[i].url %>'> <%= tea_list[i].tea_name %> </a> </a> 
                <li>Type: <%= tea_list[i].type %> </li> 
                <li>Brand: <%= tea_list[i].brand %>  </li> 
                <li>Rating(out of 10): <%= tea_list[i].rating %> </li> 
                <li>Notes: <%= tea_list[i].notes %> </li> 
              </div>
            <% } %>

        </ul>
    </div>
  </body>
</html>