<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Add a new tea!</p>
    <div class="navbar">
      <% if (currentUser) { %>
        <a href="/teas"><%= currentUser.username %></a>
      <% } else { %>
        <a href="/user/create">Sign up</a>
      <% } %>
      <a href="/teas/tealist">Teas</a>
      <a href="/teas/create">Add New Tea</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <% if (currentUser) { %>
      <h3>Hello <%= currentUser.username %></h3>
      <a href="/logout">Log out</a>
      <div class="formdiv">
          <form method="POST" action="" className="teaform" id="newteaform" enctype="multipart/form-data">
              <h2>Add Tea</h2>
              <label htmlFor="teaname">Tea Name</label>
              <input type="text" id="teaname" name="teaname" placeholder="Tea name" required="required" maxlength="50"></input>
              <label htmlFor="type">Type of Tea</label>
              <select id="type" name="type">
                <option value="Green">Green</option>
                <option value="Black">Black</option>
                <option value="Oolong">Oolong</option>
                <option value="Herbal">Herbal</option>
                <option value="White">White</option>
              </select>
              <label htmlFor="brand">Tea Brand</label>
              <input type="text" id="brand" name="brand" maxlength="30"></input>
              <label htmlFor="rating">Tea Rating</label>
              <select id="rating" name="rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select> 
              <label htmlFor="Notes">Notes on Tea</label>
              <input type="text" id="notes" name="notes" maxlength="500"></input>
              <input type="file" name="teaimg">Picture</input>
              <button type="submit">Submit</button>
          </form>
    </div>
    <% } else { %>
      <h1>Please log in to add a new tea!</h1>
    <% } %>
  </body>
</html>