<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="navbar">
      <% if (currentUser) { %>
        <a href="/teas"><%= currentUser.username %></a>
      <% } else { %>
        <a href="/user/create">Sign up</a>
      <% } %>
      <a href="/teas/tealist">Teas</a>
      <a href="/teas/create">Add New Tea</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <% if (currentUser) { %>
      <h3>Hello <%= currentUser.username %></h3>
      <a href="/logout">Log out</a>
    <% } else { %>
      <h1>Log in to your account!</h1>
    <% } %>
    <p>Tea name: <%= title %></p>
    Type: <%= tea.type %>
    <p><%= tea.brand %></p>
    <p><%= tea.rating %></p>
    <%= tea.notes %>
    <p> <%= tea.created_on %></p>
    <p>Added by: <a href="<%= user_url %>"> <%= tea.created_by.username %> </a></p>
    <% if (tea.img.data) { %>
      <img src="data:image/<%= tea.img.contentType%>;base64,
      <%= tea.img.data.toString('base64') %>">
    <% } else {%>
      <p>There is no picture for this tea yet!</p>
    <% } %>
    <p></p>
    <a href="<%= tea.url %>/save">Save this tea for later</a>
    <p></p>
    <a href="<%= tea.url %>/favorite">Add this tea to your favorites</a>
    <p></p>
    <a href="/teas/<%= tea_id %>/recommend">Recommend this tea to a user</a>
    <% if (currentUser && currentUser.username === tea.created_by.username) { %>
      <p></p>
      <a href="<%= tea.url %>/update">Update this tea</a>
      <p></p>
      <a href="<%= tea.url %>/delete">Delete this tea</a>
    <% } %>
  </body>
</html>