<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/teas/tealist">Teas</a>
      <a href="">Friends</a>
      <a href="/user">Profile</a>
    </div>
    <div class="teainfodiv">
        <p>Tea name: <%= title %></p>
        <%= tea.type %>
        <p><%= tea.brand %></p>
        <p><%= tea.rating %></p>
        <%= tea.notes %>
        <p> <%= tea.created_on %></p>
    </div>
    <p>Tea list success!</p>
  </body>
</html>