<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/teas/tealist">Teas</a>
      <a href="/teas/create">Add New Tea</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <div class="userinfodiv">
        <p>Username: <%= user.username %></p>
        <p>Favorite Tea: <%= user.favorite_tea_type %></p>
        <div class="useraddedteas">
          <h3>Teas Added:</h3> 
          <ul>
            <% for(let i = 0; i < user.teas_added.length; i++) { %>
                <li> <a href='/teas/<%= user.teas_added[i]._id %>'> <%= user.teas_added[i].tea_name %> </a> 
                  Type: <%= user.teas_added[i].type %> 
                  Brand: <%= user.teas_added[i].brand %> 
                  Rating(out of 10) <%= user.teas_added[i].rating %> 
                  Notes: <%= user.teas_added[i].notes %> 
                  Added on: <%= user.teas_added[i].created_on %></li>
            <% } %>
          </ul>
        </div>
    </div>
  </body>
</html>