<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="navbar">
      <% if (currentUser) { %>
        <a href="/teas"><%= currentUser.username %></a>
      <% } else { %>
        <a href="/user/create">Sign up</a>
      <% } %>
      <a href="/teas/tealist">Teas</a>
      <a href="/teas/create">Add New Tea</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <% if (currentUser) { %>
      <h3>Hello <%= currentUser.username %></h3>
      <a href="/logout">Log out</a>
    <% } else { %>
      <h1>Log in to your account!</h1>
    <% } %>
    <div class="userlistdiv">
        <ul>
            <% for(let i = 0; i < user_list.length; i++) { %>
                <li> <a href='<%= user_list[i].url %>'> <%= user_list[i].username %></li>
            <% } %>
        </ul>
    </div>
  </body>
</html>