<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/teas/tealist">Teas</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <div class="userinfodiv">
        <p>Username: <%= user.username %></p>
        <p>Favorite Tea: <%= user.favoritetea %></p>
    </div>
  </body>
</html>